.cursoragent
.Rproj.user
.Rhistory
.RData
.Ruserdata
# Build and check artifacts
OmniVerse.Rcheck/
OmniVerse.BiocCheck/
*.tar.gz
# App runtime (do not commit)
inst/shinyapp/micro_data/
inst/shinyapp/saved_workspaces/
inst/shinyapp/*.log
app/
# Data and exports (do not commit to repo)
inst/shinyapp/rna_data/
inst/shinyapp/ext_val_rna/
inst/shinyapp/csv_exports/
# Vignette artifacts (Word/HTML export)
vignettes/vignette_files/
vignettes/vignette.htm
vignettes/~$*
inst/inst/
